/*
Project-specific styles. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

// Dark mode enhancements
@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'td/gcs-search-dark';

.td-main {
  padding-top: 4rem !important;   // 원하는 값으로 변경 가능
}

.td-navbar {
  background-color: $primary;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .4);

  .navbar-brand {
    font-weight: 700;
    font-size: 1.25rem;
    color: #fff;

    &:hover {
      color: $secondary;
    }
  }

  .nav-link {
    color: #ffffff;
    font-weight: 500;
    padding-bottom: .25rem;
    border-bottom: 2px solid transparent;

    &.active,
    &:hover {
      color: $secondary;
      border-bottom-color: $secondary;
    }
  }
}

