/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

// Brand colors
$primary: #00143a;
$secondary: #87ceeb;

// Supporting palette
$info: #87ceeb;
$dark: #0e141f;
$light: #e5f3ff;

// Text and links
$body-bg: #0e141f;
$body-color: #e5e9f0;
$headings-color: #ffffff;
$link-color: $secondary;
$link-hover-color: lighten($secondary, 10%);

// Navbar
$navbar-dark-bg: $primary;
$navbar-dark-color: #ffffff;
$navbar-dark-hover-color: $secondary;
$navbar-dark-active-color: $secondary;
